@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    scroll-behavior: smooth;
}

/* For Webkit Browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 8px; /* Set the width of the scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background-color: #444; /* Set the background color of the track */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: tomato;
    border-radius: 20px;
    /* Set the color of the scrollbar thumb */
  }

body {
    cursor: url("./images/cursor.png"), auto;
  }
  textarea {
    resize: vertical;
    border: 2px solid !important;
}
/* chrome.... */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

/* fire fox ///////*/
input[type="number"]{
    -moz-appearance: textfield;
}
.greenColor{
    color: green;
}
.redColor{
    color: red;
}